img {
  max-width: 100%;
  /* height: auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  border-radius: 25%;
}

html {
  background-color: rgb(221, 180, 67);
}

body {
  background-color: rgb(221, 180, 67);
}
